@if (Show)
{
    <div class="w-full h-full fixed top-0 left-0 bg-white opacity-75 z-50">
        <div class="flex justify-center items-center mt-[50vh]">
            <img src="/images/pokeball.png" alt="Pokeball" class="animate-spin w-[80px] h-[80px]" />
        </div>
    </div>
}

@code {
    [Parameter]
    public bool Show { get; set; } = false;
}
