
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    boxShadow: {
                        'custom': '4px 4px 17.1px -8px rgba(0, 0, 0, 0.25)',
                        'card-info': '0px 21px 25.9px -14px rgba(0, 0, 0, 0.10)'
                    },
                }
            }
        }
    </script>
</head>

<body>
<div class="decor-poke1"></div>
<div class="decor-poke2"></div>
<div class="decor-poke3"></div>

<Routes/>

</body>

</html>