@page "/"

<div class="grid grid-cols-3 gap-4">
    <div class="col-span-3">
        <div class="flex justify-center">
            <img src="images/pokedex_img.png" class="w-[495px] h-[152px]" />
        </div>
    </div>

    <div class="col-span-3">

    </div>
</div>

@code {

}