@page "/info"
<div class="flex !justify-center mx-auto max-w-[100%] md:max-w-[1100px]">
    
    <div class="w-5/6 min-h-[678px] rounded-[20px] bg-[#77B35B]">
        
    </div>
    
</div>

@code {
    
}